name: smartbite
description: "AI-powered food waste reduction app"
publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: ^3.9.2

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.8
  http: ^1.1.0
  provider: ^6.1.1
  shared_preferences: ^2.2.2
  camera: ^0.10.5+5
  mobile_scanner: ^3.5.7
  image_picker: ^1.0.4
  flutter_localizations:
    sdk: flutter
  intl: any
  google_fonts: ^6.1.0

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^5.0.0

flutter:

  uses-material-design: true

  assets:
    - assets/images/
